<div class="navbar">
  <a class="logo" href="#"> Harsh Posts</a>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/criar-posts">Criar Posts</a></li>
  </ul>
</div>
