<nav>
  <container>
    <div class="logo-wrap">
      <div class="logo-text">Crud</div>
    </div>
    <div class="nav_menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/usuarios">Usuários</a></li>
        <li><a class="nav--link" href="/registrar">Registrar</a></li>
      </ul>
    </div>
  </container>
</nav>
