<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="wrap">
      <%- include('./partials/header.ejs') %>

      <div class="hero">
        <a href="" class="nav left">
          <svg
            fill="none"
            class="rubicons chevron-left"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="1.5"
          >
            <path d="M15 6l-6 6 6 6" stroke-linecap="round"></path>
          </svg>
        </a>
        <a href="" class="nav right">
          <svg
            fill="none"
            class="rubicons chevron-right"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="1.5"
          >
            <path d="M9 18l6-6-6-6" stroke-linecap="round"></path>
          </svg>
        </a>
      </div>
      <div id="nav_big_text"></div>

      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
