<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="wrap">
      <%- include('./partials/header.ejs') %> <% if (typeof message !==
      'undefined') { %> <%= message %> <% } %>
      <hgroup>
        <h1>Cadastrar Usuário</h1>
      </hgroup>

      <form action="/registrar/criar" method="POST" class="form register">
        <div class="group">
          <input type="text" name="name" /><span class="highlight"></span
          ><span class="bar"></span>
          <label>Nome</label>
        </div>
        <div class="group">
          <input type="text" name="age" /><span class="highlight"></span
          ><span class="bar"></span>
          <label>Idade</label>
        </div>
        <div class="group">
          <input type="email" name="email" /><span class="highlight"></span
          ><span class="bar"></span>
          <label>Email</label>
        </div>
        <div class="group">
          <input type="password" name="password" /><span
            class="highlight"
          ></span
          ><span class="bar"></span>
          <label>Senha</label>
        </div>
        <button type="submit" class="button buttonBlue">
          Cadastrar
          <div class="ripples buttonRipples">
            <span class="ripplesCircle"></span>
          </div>
        </button>
      </form>
    </div>
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
