* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: antiquewhite;
  font-family: 'Rubik', sans-serif;
  background: rgb(40, 40, 44);
  background: linear-gradient(
    176deg,
    rgba(40, 40, 44, 1) 100%,
    rgba(39, 39, 42, 0.8731768097864145) 100%
  );
}

.avatar {
  width: 200px;
  border-radius: 100px;
  border: 3px solid #fff;
  box-shadow: 0 0 15px #fff;
  border: 3px solid crimson;
  margin: 10px;
  position: relative;
  animation-name: opacity;
  animation-duration: 1s;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  font-size: 28px;
  margin-bottom: 2px;
  position: relative;
  animation-name: opacity;
  animation-duration: 1s;
}

h2 {
  font-size: 18px;
  font-weight: 200;
  position: relative;
  animation-name: opacity;
  animation-duration: 1s;
}

.profile {
  text-align: center;
  margin-top: 20px;
}

.social {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 20px 0;
  position: relative;
  animation-name: opacity;
  animation-duration: 1s;
}

.social img {
  width: 33px;
  opacity: 1;
}

.links-list {
  list-style: none;
}

.links-list li {
  margin: 10px 20px;
}

.links-list li a {
  display: block;
  background: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: crimson;
  box-shadow: 0 0 15px #fff;
  font-weight: bold;
}

.links-list li a.impar {
  position: relative;
  animation-name: transition;
  animation-duration: 0.9s;
}

.links-list li a.par {
  position: relative;
  animation-name: transition2;
  animation-duration: 0.9s;
}

.links-list li a span {
  color: rgb(159, 158, 158);
  display: block;
  margin-top: 10px;
  font-weight: 100;
}

/* Links Secundários */

.links-list2 {
  list-style: none;
  margin-top: 40px;
}

.links-list2 li {
  margin: 10px 20px;
}

.links-list2 li a {
  display: block;
  background: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(218, 21, 60);
  font-weight: bold;
}

.links-list2 li a.impar {
  position: relative;
  animation-name: transition;
  animation-duration: 0.9s;
}

.links-list2 li a.par {
  position: relative;
  animation-name: transition2;
  animation-duration: 0.9s;
}

.links-list2 li a span {
  color: rgb(159, 158, 158);
  display: block;
  margin-top: 10px;
  font-weight: 100;
}

@keyframes transition {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}

.links-list li a.impar {
  position: relative;
  animation-name: transition;
  animation-duration: 0.9s;
}

.links-list li a.par {
  position: relative;
  animation-name: transition2;
  animation-duration: 0.9s;
}

.links-list li a span {
  color: rgb(159, 158, 158);
  display: block;
  margin-top: 10px;
  font-weight: 100;
}

@keyframes transition2 {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
